<!DOCTYPE html>
<html lang="en"></html>
<head>
    <link rel="stylesheet" href="./stylesheet.css" />
    <meta charset="UTF-8">
    <title>Document</title>
    <script>

      function updateCount(count) {
        fetch("/get", { method: "GET" })
          .then(response => response.text())
          .then(count => {
            document.getElementById("count").innerHTML = count;
          });
      }

      setInterval(updateCount, 5000);

      function incrementCount() {
        fetch("/add", { method: "POST" })
          .then(response => response.text())
          .then(updateCount());
        }
      
      function decrementCount() {
          fetch("/sub", { method: "POST" })
            .then(response => response.text())
            .then(updateCount());
        }
      
      function export_to_csv() {
        fetch("/export", { method: "Post" })
          .then(response => response.text())
      }

    </script>
</head>

<body>
    <h1>FTally</h1>
    <p id="count-text"> COUNT: </p> <span id="count">0</span>
    <div id="buttons">
      <button id="add" onclick="incrementCount()">+</button>
      <button id="subtract" onclick="decrementCount()">-</button>
      <button id="export" onclick="export_to_csv()">Export</button>
    </div>
</body>